@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

a {
    text-decoration: none;
}

/* COLORS */

:root {
    --dark: #000000;
    --light-grey: #A9A9A9;
}

/*FULL SCREEN*/

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10vh 15vw 2vh 14vw;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
}

.presentation_txt {
    width: 50%;
}

img {
    width: 13vw;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8vw;
    padding: 3vw;
}

.product_owner {
    display: flex;
    flex-direction: row;
}

#title {
    writing-mode: tb-rl;
    text-transform: uppercase;
}

footer {
    align-self: center;
}